<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Sun Microsystems is founded</string>
		<key>year</key>
		<real>1982</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1982/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hewlett-Packard is founded</string>
		<key>year</key>
		<integer>1939</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1939/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Complex Number Calculator (CNC) is completed</string>
		<key>year</key>
		<integer>1940</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1940/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>First Computer Program to run on a computer</string>
		<key>year</key>
		<real>1948</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1948/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Direct keyboard input to computers</string>
		<key>year</key>
		<integer>1956</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1956/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Intel introduces the first microprocessor</string>
		<key>year</key>
		<real>1971</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1971/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Laser printer invented at Xerox PARC</string>
		<key>year</key>
		<real>1971</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1971/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cray-1 supercomputer introduced</string>
		<key>year</key>
		<real>1975</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1975/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Steve Wozniak completes the Apple I</string>
		<key>year</key>
		<real>1976</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1976/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apple II introduced</string>
		<key>year</key>
		<real>1977</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1977/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>&quot;The Computer Programme&quot; debuts on the BBC</string>
		<key>year</key>
		<real>1982</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1982/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Commodore introduces the Commodore 64</string>
		<key>year</key>
		<real>1982</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1982/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IBM introduces its Personal Computer (PC)</string>
		<key>year</key>
		<real>1981</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1981/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apple introduces the Lisa Computer</string>
		<key>year</key>
		<real>1983</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1983/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apple launches the Macintosh</string>
		<key>year</key>
		<real>1984</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1984/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PC&apos;s Limited is founded</string>
		<key>year</key>
		<integer>1984</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1984/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Steve Jobs unveils the NeXT Cube</string>
		<key>year</key>
		<integer>1988</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1988/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Macintosh Portable is introduced</string>
		<key>year</key>
		<integer>1989</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1989/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PowerBook series of laptops is introduced</string>
		<key>year</key>
		<integer>1991</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1991/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apple ships the first Newton</string>
		<key>year</key>
		<integer>1993</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1993/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Intel&apos;s Pentium microprocessor is released</string>
		<key>year</key>
		<integer>1993</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1993/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sony Vaio series is begun</string>
		<key>year</key>
		<integer>1996</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1996/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The iMac is launched</string>
		<key>year</key>
		<integer>1998</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1998/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>First camera phone introduced</string>
		<key>year</key>
		<integer>2000</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/2000/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PowerMac G5 is released</string>
		<key>year</key>
		<real>2003</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/2003/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arduino releases its first micro PC</string>
		<key>year</key>
		<integer>2005</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/2005/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amazon Kindle is released</string>
		<key>year</key>
		<real>2007</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/2007/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apple releases its first iPhone</string>
		<key>year</key>
		<integer>2007</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/2007/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MacBook Air is released</string>
		<key>year</key>
		<integer>2008</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/2008/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apple iPad is released</string>
		<key>year</key>
		<integer>2010</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/2010/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nest Learning Thermostat is introduced</string>
		<key>year</key>
		<integer>2011</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/2011/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Raspberry Pi is released</string>
		<key>year</key>
		<integer>2012</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/2012/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apple Watch is released</string>
		<key>year</key>
		<integer>2015</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/2015/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>microsoft.com goes online</string>
		<key>year</key>
		<real>1991</real>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1991/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3.5-inch floppy drive introduced</string>
		<key>year</key>
		<integer>1981</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1981/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Konrad Zuse finishes the Z3 computer</string>
		<key>year</key>
		<integer>1941</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1941/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Harvard Mark 1 is completed</string>
		<key>year</key>
		<integer>1944</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1944/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hewlett-Packard introduces the HP-35 calculator</string>
		<key>year</key>
		<integer>1971</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1971/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MITS Altair 8800 kit appears in &quot;Popular Electronics&quot;</string>
		<key>year</key>
		<integer>1975</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1975/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Atari introduces its Model 400 and 800 computers</string>
		<key>year</key>
		<integer>1979</integer>
		<key>url</key>
		<string>http://www.computerhistory.org/timeline/1979/</string>
	</dict>
</array>
</plist>
